// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'pages/home';
body {
  padding-top: 0px;
  color: #000000;
}

body, label, .checkbox label{
  font-weight: 300;
  font-family: 'Montserrat',sans-serif;
}