// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  padding-top: 10px;
  color: purple;
}

body, label, .checkbox label{
  font-weight: 300;
  font-family: 'Montserrat',sans-serif;
}